@keyframes comet1 {
    0% {
        transform: translateX(0) translateY(-10vh);
        opacity: 0.1;
    }
    10% {
        opacity: 1;
    }
    40% {
        transform: translateY(50vh) translateX(-100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(50vh) translateX(-100vh);
        opacity: 0;
    }
}

@keyframes comet2 {
    0% {
        transform: translateX(-80vw) translateY(-50vh);
        opacity: 0.1;
    }
    10% {
        opacity: 1;
    }
    40% {
        transform: translateY(20vh) translateX(50vh);
        opacity: 0;
    }
    100% {
        transform: translateY(20vh) translateX(50vh);
        opacity: 0;
    }
}
@keyframes comet3 {
    0% {
        transform: translateX(-100vw) translateY(-80vh);
        opacity: 0.1;
    }
    10% {
        opacity: 1;
    }
    40% {
        transform: translateY(50vh) translateX(100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(50vh) translateX(100vh);
        opacity: 0;
    }
}
@keyframes comet4 {
    0% {
        transform: translateX(30vw) translateY(-50vh);
        opacity: 0.1;
    }
    10% {
        opacity: 1;
    }
    40% {
        transform: translateY(50vh) translateX(-100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(50vh) translateX(-100vh);
        opacity: 0;
    }
}


@keyframes blinkOpacity {
    from {
        opacity: 0;
    }
}

@keyframes rotateNebula {
    0% {
        transform: rotateX(-20deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(-20deg) rotateZ(-15deg);
    }
}
